Hi <%= full_name %>,
<br><br>
Login information: <br><br>
<b>Username: </b> <%= email %> <br>
<b>Password: </b> <%= password %> <br>
To Login <b><a href="http://localhost:8080/login">Click Here</a></b>