<footer>
    <div class="footerabout">
        <div class="footertext">
            <div class="about1">
                <div class="">
                    <h1 style="color: rgb(140, 0, 255);">E<span style="color: rgb(235, 32, 110)"> - Vote</span></h1>
                </div>
                <p>E-voting is an election system that allows voters to record a secret ballot and have it tabulated electronically. Votes are stored so they can be re-counted should the need arise </p>
            </div>
            <div class="about1 ab2">
                <h3>Helpful Links</h3>
                <div class="ab2text">
                    <ul>

                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> Login</li>
                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> Register</li>
                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> Vote</li>
                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> Election</li>
                    </ul>
                    <ul>
                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> My Profile</li>
                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> My Votes</li>
                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> About Us</li>
                        <li><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> Help Desk</li>
                    </ul>
                </div>

            </div>
            <div class="about1">
                <h3 style="font-family: 'Poppins', sans-serif;">Contact Us</h3>
                <p>12345 Little Lonsdale St, Melbourne Phone: (123) 123-456 E-Mail: office@example.com</p>
                <div class="solcialmedia" style="margin-top: 1vh;">
                    <div class="fa fa-facebook fa-fw fa-2x ic5" aria-hidden="true"></div>
                    <div class="fa fa-instagram fa-fw fa-2x ic5" aria-hidden="true"></div>
                    <div class="fa fa-twitter fa-fw fa-2x ic5" aria-hidden="true"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright">
        <h3>©E-Vote.web Devlop & Design by .... All Rights Reserved.</h3>
    </div>

</footer>