<header>

    <nav>

        <div id="nav-left">
            <a href="/"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="nav-right">
            <a href="/login"><button>Login</button></a>
            <a href="./register"><button>Register</button></a>
        </div>

    </nav>

</header>