<div id="banner">

    <div id="banner-info">
        <h1>
            Make your E-Vote securely <br>on E-Vote portal!!!
        </h1>
        <h3>
            E-Vote enables Blockchain security for fair election and reliable results
        </h3>

        <h4>
            Sign In To vote Or see Ongoing Elections in your consitency
        </h4>

        <a href="/login"><button>
            Sign In 
        </button></a>
    </div>

</div>

<div id="intro">

    <div class="intro-content">

        <div class="intro-content-header">
            <h1>
                What is E-Vote portal
            </h1>
        </div>

        <div class="intro-img"><img src="static/img/intro-1.jpg" alt=""></div>

        <div class="intro-text">
            <p>
                E-voting is an election system that allows voters to record a secret ballot and have it tabulated electronically. Votes are stored so they can be re-counted should the need arise. E-voting systems can speed up election results and lower the cost of conducting
                an election by significantly reducing the number of people required to operate a polling place and tabulate results. A primary concern with e-voting, however, is how to store votes so they can be recounted if required..<br><br>Electronic
                voting (also known as e-voting) is voting that uses electronic means to either aid or take care of casting and counting votes. Depending on the particular implementation, e-voting may use standalone electronic voting machines (also called
                EVM) or computers connected to the Internet. Electronic voting was first introduced in the United States during the 1960s when mechanical voting machines were first used and punch cards were the storage medium for votes. Since the Help
                America Vote Act (HAVA) of 2002, however, lever voting machines have largely been replaced by optical scan systems and all voting systems must produce a permanent paper record<br><br>
            </p>
        </div>

    </div>


    <div class="intro-content">

        <div class="intro-content-header">
            <h1>
                Blockchain Security in E-Election
            </h1>
        </div>

        <div class="intro-text">
            <p>
                Blockchain technology provide secure electronic voting platform, which is a decentralized, peer-to-peer transaction ledger enables every vote that is casted will be consider as an individual transaction which creates transparent and secure environment
                for elections, where the users will be able to cast their votes only once and will be able to view the total votes casted in real time without having the permission to edit the same after election gets over. These votes will be counted
                and the results will then be announced. This work achieves by solving the issues of digital voting systems and a mechanism to boost the number of voters and their trust in the electoral process..<br><br> it is based on
                blockchain technology makes it more secure crucial in an electoral arena, where there could be a tendency to manipulate voting., it cannot be done at random and every person keen on taking part in e-voting needs to pre-register with his
                or her voter ID and with yet another identification, which could be an aadhaar card. They need to have this matched with their selfie.<br><br>
            </p>
        </div>
        <div class="intro-img"><img src="./img/intro-2.png" alt=""></div>


    </div>

</div>

<div class="intro-more">
    <img src="../public/img/votingVV.PNG" alt="">
</div>